<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>dotfiles.start-virtual-webcam.plist</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Applications/OBS.app/Contents/MacOS/obs</string>
    <string>--startvirtualcam</string>
    <string>--minimize-to-tray</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
</dict>
</plist>
